<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-x-socialsharing"
        version="5.2.0">

  <name>cordova-plugin-x-socialsharing</name>

  <description>
    Share text, images (and other files), or a link via the native sharing widget of your device.
    iOS is fully supported.
  </description>

  <author>Upresh Tikam</author>

  <license>MIT</license>

  <keywords>Social, Share, Twitter, Facebook, Email, SMS, WhatsApp, Tumblr, Pocket, LinkedIn</keywords>

  <repo>https://github.com/upreshtikampersi/cordova-plugin-x-socialsharing.git</repo>

  <issue>https://github.com/upreshtikampersi/cordova-plugin-x-socialsharing/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <dependency id="es6-promise-plugin" version="4.1.0" />

  <js-module src="www/SocialSharing.js" name="SocialSharing">
    <clobbers target="window.plugins.socialsharing" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/NSString+SSURLEncoding.h"/>
    <source-file src="src/ios/NSString+SSURLEncoding.m"/>
    <header-file src="src/ios/SocialSharing.h"/>
    <source-file src="src/ios/SocialSharing.m"/>

    <framework src="Social.framework" weak="true" />
    <framework src="MessageUI.framework" weak="true" />
  </platform>

</plugin>
